

body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.animatedText1{
    position: relative;
    animation: fade-in-up-and-out 6s;
}
.animatedText2{
    position: relative;
    animation: fade-in-up-and-out 3s;
}

@keyframes fade-in-up-and-out {
    0% {
        transform: translate(0, 200px);
        opacity: 0;
    }
    20% {
        transform: translate(0,0px);
		opacity: 1;
    }
    80% {
        transform: translate(0,0px);
		opacity: 1;
    }
    
	100% {
        transform: translate(0,-200px);
        opacity: 0;
	}
}

.starterText1{
    position: relative;
    animation: fade-in-up-and-out 6.1s;
}

.starterText2{
    position: relative;
    animation: fade-in-up-and-out 3.1s;
}
